{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=190px width=197 >
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Biology Major at the University of Texas at Austin.</h3>
       
        <h3>Have a look at some of my <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more check out my academic <a href="/resumess.pdf">resume</a>.</h3>
        <h3>Contact me at <a href="https://www.instagram.com/sophieshi8/">@{{ .Site.Params.Social.instagram }}</a> or by <a href="mailto:sophiashi@utexas.edu? subject=subject text"> email </a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
